ZMK_COMBO(capsword, &caps_word, LM1 RM1, BASE SYM, COMBO_TERM_MS, PRIOR_IDLE_MS)
ZMK_COMBO(numword, &num_word SYM, LM2 RM2, BASE SYM, COMBO_TERM_MS, PRIOR_IDLE_MS)

ZMK_COMBO(copy, &kp LG(C), LM2 LB2, BASE, COMBO_TERM_MS, PRIOR_IDLE_MS)
ZMK_COMBO(paste, &kp LG(V), LM1 LB1, BASE, COMBO_TERM_MS, PRIOR_IDLE_MS)
ZMK_COMBO(cut, &kp LG(X), LM3 LB3, BASE, COMBO_TERM_MS, PRIOR_IDLE_MS)
